In [24]:
using DataFrames

crsp = readtable("C:\Users/itcl\Desktop/CRSP.csv", header=true)

LoadError: syntax: invalid escape sequence
while loading In[24], in expression starting on line 3

In [22]:
x = randn()
y = randn()

if x < y
    println("$x is less than $y")
    print("Joe has only a $x percent chance of winning, which is less than Bob at $y percent!")
elseif x > y
    print("$x is greater than $y")
else
    print("$x is equal to $y")
end

0.8131652359955613 is less than 1.0286880198315025
Joe has only a 0.8131652359955613 percent chance of winning, which is less than Bob at 1.0286880198315025 percent!

In [15]:
x = log(1)
print(x)

0.0

In [27]:
x = randn(5,5)
rename!(x, [:, :, :, :, :],[:height,:weight,:wingspan,:40yd,:vert])

LoadError: yd not defined
while loading In[27], in expression starting on line 2

In [28]:
using RDatasets
anscombe = dataset("datasets","anscombe")

11x8 DataFrame
| Row | X1 | X2 | X3 | X4 | Y1    | Y2   | Y3    | Y4   |
|-----|----|----|----|----|-------|------|-------|------|
| 1   | 10 | 10 | 10 | 8  | 8.04  | 9.14 | 7.46  | 6.58 |
| 2   | 8  | 8  | 8  | 8  | 6.95  | 8.14 | 6.77  | 5.76 |
| 3   | 13 | 13 | 13 | 8  | 7.58  | 8.74 | 12.74 | 7.71 |
| 4   | 9  | 9  | 9  | 8  | 8.81  | 8.77 | 7.11  | 8.84 |
| 5   | 11 | 11 | 11 | 8  | 8.33  | 9.26 | 7.81  | 8.47 |
| 6   | 14 | 14 | 14 | 8  | 9.96  | 8.1  | 8.84  | 7.04 |
| 7   | 6  | 6  | 6  | 8  | 7.24  | 6.13 | 6.08  | 5.25 |
| 8   | 4  | 4  | 4  | 19 | 4.26  | 3.1  | 5.39  | 12.5 |
| 9   | 12 | 12 | 12 | 8  | 10.84 | 9.13 | 8.15  | 5.56 |
| 10  | 7  | 7  | 7  | 8  | 4.82  | 7.26 | 6.42  | 7.91 |
| 11  | 5  | 5  | 5  | 8  | 5.68  | 4.74 | 5.73  | 6.89 |

In [29]:
writetable("C:\users\itcl\desktop\anscome.csv", anscombe, separator = ',', header = true)

LoadError: syntax: invalid escape sequence
while loading In[29], in expression starting on line 1